
/* Css for MFX tableview, when selecting. */
.table-row-cell:selected {
    -fx-background-color: #0093ff;
}

.table-row-cell:selected .text {
    -fx-fill: #ff0000; /* Change this color as needed */
}

.table-view:focused .table-row-cell:selected .text {
    -fx-fill: #ff0000; /* Ensures text color is consistent even when focused */
}
/* Css for MenuButton icon */
.menu-bar .label {
    -fx-font-size: 30px;
}
